<div class="row">
  <!--<div class="col-md-6 col-sm-12">
      <div class="input-group">
          <input class="form-control" [(ngModel)]="title" name="title" placeholder="标题" required>
          <span class="input-group-btn">
            <button class="btn btn-info" (click)="save()"><i class="glyphicon glyphicon-saved"></i> 保存</button>
          </span>
      </div>

      <label>Markdown 编辑器</label>
      <textarea class="form-control my-textarea" rows="20" [(ngModel)]="markdownText">
      </textarea>
  </div>
  <div class="col-md-6 col-sm-12">
    <label class="text-info">预览:</label>
    <div [innerHTML]="preview()"></div>
  </div>-->
  <!--<textarea textEditor (value)="save($event)"></textarea>-->

  <md-editor (save)="save($event)"></md-editor>
</div>