<select class="my-select2 form-control">
  <option value="1">深圳</option>
  <option value="2">北京</option>
  <option value="3">广州</option>
  <option value="4">天津</option>
  <option value="5">湖南</option>
  <option value="6">上海</option>
  <option value="7">杭州</option>
  <option value="8">南京</option>
  <option value="9">长沙</option>
  <option value="10">湖北</option>
  <option value="11">广东</option>
  <option value="12">香港</option>
</select>

<br>
<br>
<select class="my-select2-1 form-control" multiple="multiple">
  <option value="1">深圳</option>
  <option value="2">北京</option>
  <option value="3">广州</option>
  <option value="4">天津</option>
  <option value="5">湖南</option>
  <option value="6">上海</option>
  <option value="7">杭州</option>
  <option value="8">南京</option>
  <option value="9">长沙</option>
  <option value="10">湖北</option>
  <option value="11">广东</option>
  <option value="12">香港</option>
</select>
