<nav class="navbar navbar-inverse home-nav">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  routerLink="home">
        <img src="assets/logo.png" class="logo-img">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="ckeditor" >Ckeditor</a></li>
        <li routerLinkActive="active"><a routerLink="markdown" >Markdown</a></li>
         <li routerLinkActive="active"><a routerLink="amap" >高德地图</a></li>
         <li routerLinkActive="active"><a routerLink="grid" >Grid</a></li>
         <!-- <li routerLinkActive="active"><a routerLink="calendar" >FullCalendar</a></li> -->
        <li routerLinkActive="active"><a routerLink="ztree" >zTree</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="jsplumb">jsPlumb</a></li> -->
        <li routerLinkActive="active"><a routerLink="mathjax">mathjax</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li style="cursor: pointer" routerLinkActive="active" ><a  routerLink="me">我</a></li>
        <li style="cursor: pointer" (click)="logout()"><a  (click)="logout()">退出</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="container container-fluid">
    <p>angular2 整合各种插件的例子</p>
    <p>Powered by <a href="http://git.oschina.net/zt_zhong/CodeBe" target="_blank">CodeBe</a></p>
  </div>
</footer>