.toolbar{
    position: absolute;
    width: 24px;
    left:20px;
    top:80px;
    overflow: hidden;
}
.container{
    float: left;
    overflow: hidden;
	background:url("/assets/mxgraph/src/images/grid.gif");
    width:100%;
    min-height: 500px;
}